/*
 * Copyright 2019, Cat Face Taro
 * 
 * This file is part of Warehouse.
 *
 * Warehouse is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3 of the License only.
 *
 * Warehouse is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Warehouse.  If not, see <https://www.gnu.org/licenses/>.
 */

*:focus {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #758c8e;
    font-family: 'Luckiest Guy', cursive;
    font-size: 28pt;
    color: #b1ced1;
    user-select: none;
}

table, tbody, tr, td {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    text-align: left;
    vertical-align: top;
}

button {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    width: 100px;
    height: 100px;
    font-family: inherit;
    font-size: inherit;
    color: #b1ced1;
    border-style: solid;
    border-width: 5px;
    border-color: #b1ced1;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

#box-1 {
    margin: auto;
    width: 1420px;
    height: 1000px;
    position: relative;
}

#main-display {
    margin: 0px;
    padding: 0px;
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#info-panel {
    margin: auto;
    width: 400px;
    height: auto;
    position: absolute;
    left: 1020px;
    top: 20px;
}

#info-panel table {
    width: 100%;
}

#info-panel td {
    height: 46px;
}

.info-highlight {
    color: rgb(191, 249, 255);
    text-align: right;
}

#button-panel {
    width: 400px;
    height: auto;
    position: absolute;
    left: 1020px;
    top: 316px;
}

#button-panel table {
    margin: auto;
}

#button-panel td {
    padding: 5px;
}

#message-panel {
    width: 400px;
    height: auto;
    position: absolute;
    left: 1020px;
    top: 556px;
}

#message-panel table {
    width: 100%;
}

#message-panel td {
    height: 46px;
}

@media ( max-width: 1420px) {
    #box-1 {
        width: 900px;
        height: 1252px;
    }
    #main-display {
        width: 900px;
        height: 900px;
    }
    #info-panel {
        left: 0px;
        top: 920px;
    }
    #button-panel {
        left: 500px;
        top: 920px;
    }
    #message-panel {
        left: 500px;
        top: 1160px;
    }
}

@media ( max-width: 900px) {
    body {
        font-size: 18pt;
    }
    button {
        width: 60px;
        height: 60px;
        border-width: 3px;
        border-radius: 6px;
    }
    #box-1 {
        width: 600px;
        height: 812px;
    }
    #main-display {
        width: 600px;
        height: 600px;
    }
    #info-panel {
        width: 270px;
        left: 0px;
        top: 610px;
    }
    #info-panel td {
        height: 30px;
    }
    #button-panel {
        width: 270px;
        left: 330px;
        top: 610px;
    }
    #button-panel td {
        padding: 3px;
    }
    #message-panel {
        width: 270px;
        left: 330px;
        top: 752px;
    }
    #message-panel td {
        height: 30px;
    }
}

@media ( max-width: 600px) {
    body {
        font-size: 12pt;
    }
    button {
        width: 40px;
        height: 40px;
        border-width: 2px;
        border-radius: 4px;
    }
    #box-1 {
        width: 300px;
        height: 563px;
    }
    #main-display {
        width: 300px;
        height: 300px;
    }
    #info-panel {
        width: 300px;
        left: 0px;
        top: 305px;
    }
    #info-panel td {
        height: 20px;
    }
    #button-panel {
        width: 300px;
        left: 0px;
        top: 430px;
    }
    #button-panel td {
        padding: 2px;
    }
    #message-panel {
        width: 300px;
        left: 0px;
        top: 523px;
    }
    #message-panel td {
        height: 20px;
    }
}